name: Run Playwright Packs

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Test Environment"
        required: true
        default: "qa"
        type: choice
        options:
          - dev
          - qa
          - stage
      tag:
        description: "Test Tag"
        required: true
        default: "all"
        type: choice
        options: [all, api, ui, visual]

  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  ENV: ${{ github.event.inputs.environment }}

  BASE_URL_UI: ${{ secrets[format('{0}_BASE_URL_UI', github.event.inputs.environment)] }}
  BASE_URL_API: ${{ secrets[format('{0}_BASE_URL_API', github.event.inputs.environment)] }}

  USER_EMAIL: ${{ secrets[format('{0}_USER_EMAIL', github.event.inputs.environment)] }}
  USER_PASSWORD: ${{ secrets[format('{0}_USER_PASSWORD', github.event.inputs.environment)] }}

jobs:
  always-run:
    name: Ensure Deploy Always Runs
    runs-on: ubuntu-latest
    steps:
      - run: echo "This job always runs as a dependency anchor"
      
  run-api:
    needs: always-run
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.tag == 'all' || inputs.tag == 'api' }}
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'qa' }}
    env:
      NODE_ENV: ${{ github.event.inputs.environment || 'qa' }}
      USER_EMAIL: ${{ secrets.USER_EMAIL }}
      USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
      REQRES_API_KEY: ${{ secrets.REQRES_API_KEY }}
      TAG: "@api"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: |
          npm ci
          echo "Selected environment: ${{ github.event.inputs.environment }}"
      - name: Run API tests
        run: npx playwright test -g "@api" --config=src/config/playwright.config.ts
        
      - name: Generate Allure API report
        if: always()
        run: npx allure generate --clean allure-results -o allure-report
        
      - name: Upload API Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-allure-report
          path: allure-report/

  run-ui:
    needs: always-run
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.tag == 'all' || inputs.tag == 'ui' }}
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'qa' }}
    env:
      NODE_ENV: ${{ github.event.inputs.environment || 'qa' }}
      USER_EMAIL: ${{ secrets.USER_EMAIL }}
      USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
      REQRES_API_KEY: ${{ secrets.REQRES_API_KEY }}
      TAG: "@ui"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: |
          npm ci
          echo "Selected environment: ${{ github.event.inputs.environment }}"
      - name: Install browsers
        run: npx playwright install --with-deps
      - name: Run UI tests
        run: npx playwright test -g "@ui" --reporter=html --config=src/config/playwright.config.ts
      
      - name: Generate Playwright report
        if: always()
        run: |
          if [ -d "playwright-report" ]; then
          npx playwright show-report
          else
          echo "⚠️ No Playwright report found (tests crashed before report generation)"
          fi

      - name: Generate Allure UI report
        if: always()
        run: npx allure generate --clean allure-results -o allure-report

      - name: Upload UI reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ui-reports
          path: |
            playwright-report/
            allure-report/

  run-visual:
    needs: always-run
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.tag == 'all' || inputs.tag == 'visual' }}
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'qa' }}
    env:
      NODE_ENV: ${{ github.event.inputs.environment || 'qa' }}
      USER_EMAIL: ${{ secrets.USER_EMAIL }}
      USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
      REQRES_API_KEY: ${{ secrets.REQRES_API_KEY }}
      TAG: "@visual"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: |
          npm ci
          echo "Selected environment: ${{ github.event.inputs.environment }}"
      - name: Install browsers
        run: npx playwright install --with-deps
      - name: Run Visual tests
        run: npx playwright test -g "@visual" --reporter=html --config=src/config/playwright.config.ts

      - name: Upload report artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.pack }}-report
          path: playwright-report

      - name: Generate Playwright report
        if: always()
        run: |
          if [ -d "playwright-report" ]; then
          npx playwright show-report
          else
          echo "⚠️ No Playwright report found (tests crashed before report generation)"
          fi

      - name: Generate Allure Visual report
        if: always()
        run: npx allure generate --clean allure-results -o allure-report

      - name: Upload Visual reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: visual-reports
          path: |
            playwright-report/
            allure-report/

  deploy-report:
    name: Deploy Report to GitHub Pages
    runs-on: ubuntu-latest
    needs: [run-api, run-ui, run-visual]
    if: always()
    steps:
      - name: Download reports
        uses: actions/download-artifact@v4
        with:
          path: ./report-artifacts

      - name: Deploy report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./report-artifacts/
          publish_branch: gh-pages
          force_orphan: true
